page-view-all {
  ion-card{
    max-width: 150px !important;
    max-height: 210px !important;
    display: inline-block;
  }

  .itemFix {
    max-width: 1280px !important;
    display: inline-block;
  }

  .con {
    text-align: center;
    width: 100%;
  }

}
