<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home Page</ion-title>

    <!---<button ion-button side-right (click)="logout()">
      <ion-icon name="add"></ion-icon>
    </button>-->
  </ion-navbar>
</ion-header>


<ion-content style="background-color: #F5F5F5;">



  <ion-fab top right edge>
      <button ion-fab mini color="light" (click)="addPer()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-fab top right edge>
      <button ion-fab mini color="light"><ion-icon name="add"></ion-icon></button>
      <ion-fab-list>
        <button ion-fab (click)="addPer()"><ion-icon name="contact"></ion-icon></button>
        <button ion-fab (click)="viewVideo()"><ion-icon name="flame"></ion-icon></button>
        <button ion-fab (click)="viewAll()"><ion-icon name="star"></ion-icon></button>
      </ion-fab-list>
  </ion-fab>

  <ion-list align="center">
    <ion-list-header class="bar">
      <img src="assets/avartar.png">
      <h2 class="head">Get Book Story</h2>
      <p class="body">บันทึกเรื่องราวความทรงจำของคุณ</p>
    </ion-list-header>
  </ion-list>


<div class="con">

<ion-item color="cardCon" class="itemFix">

  <ion-row center class="headBar" padding>
    <ion-col class="col1">
      <ion-icon name="contact"></ion-icon>
      My Friend
    </ion-col>
    <ion-col class="col2">
        <ion-icon name="arrow-forward" (click)="showPer()"></ion-icon>
    </ion-col>
  </ion-row>



  <ion-scroll scrollX="true" class="scrollColor1">

    <div *ngFor="let item of items | async">
      <ion-card *ngIf="item.friend == true" (click)="goToNote(item.$key)" id="card" class="animated fadeIn">
        <ion-card-header>
          <img src="{{item.picture}}" max-width="100%">
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col width-80>
              <h2>{{ item.name }}</h2>
              <p>{{ item.description }}</p>
            </ion-col>

            <ion-col width-20 align="right">
              <ion-icon name="star" isActive="true" color="yellow"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

  </ion-scroll>




  <ion-row class="headBar" padding>
    <ion-col class="col1">
      <ion-icon name="contact"></ion-icon>
      My Family
    </ion-col>
    <ion-col class="col2">
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>



  <ion-scroll scrollX="true" class="scrollColor2">

    <div *ngFor="let item of items | async">
      <ion-card *ngIf="item.family == true" (click)="goToNote(item.$key)" id="card" class="animated fadeIn">
        <ion-card-header >
          <img src="{{item.picture}}">
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col width-80>
              <h2>{{ item.name }}</h2>
              <p>{{ item.description }}</p>
            </ion-col>

            <ion-col width-20 align="right">
              <ion-icon name="star" isActive="true" color="yellow"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

  </ion-scroll>



  <ion-row class="headBar" padding>
    <ion-col class="col1">
      <ion-icon name="contact"></ion-icon>
      Boy
    </ion-col>
    <ion-col class="col2">
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>


  <ion-scroll scrollX="true" class="scrollColor3">

    <div *ngFor="let item of items | async">
      <ion-card *ngIf="item.boy == true" (click)="goToNote(item.$key)" id="card" class="animated fadeIn">
        <ion-card-header >
          <img src="{{item.picture}}">
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col width-80>
              <h2>{{ item.name }}</h2>
              <p>{{ item.description }}</p>
            </ion-col>

            <ion-col width-20 align="right">
              <ion-icon name="star" isActive="true" color="yellow"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

  </ion-scroll>


  <ion-row class="headBar" padding>
    <ion-col class="col1">
      <ion-icon name="contact"></ion-icon>
      Girl
    </ion-col>
    <ion-col class="col2">
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>


  <ion-scroll scrollX="true" class="scrollColor4">

    <div *ngFor="let item of items | async">
      <ion-card *ngIf="item.girl == true" (click)="goToNote(item.$key)" id="card" class="animated fadeIn">
        <ion-card-header >
          <img src="{{item.picture}}">
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col width-80>
              <h2>{{ item.name }}</h2>
              <p>{{ item.description }}</p>
            </ion-col>

            <ion-col width-20 align="right">
              <ion-icon name="star" isActive="true" color="yellow"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-scroll>
</ion-item>

</div>

</ion-content>
