
page-home {


  .con {
    text-align: center;
    width: 100%;
  }

  ion-scroll {
    white-space: nowrap;
    height: 260px;
  }

  ion-card-header {
    background-color: #CFD8DC;
    margin-bottom: 10px;

  }

  .head {
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
  }

  .body {
    color: #FFFFFF;
  }

  .bar {
    font-weight: bold;
    color: #1976D2;
    background-color: #1976D2;
    filter: alpha(opacity=50);
  }

  .headBar {
    font-weight: bold;
    color: #1976D2;
    filter: alpha(opacity=50);

  }


  .col1 {
    text-align: left;
  }

  .col2 {
    text-align: right;
  }

  .scrollColor1 {
    background-color: #FAFAFA;
    border: 2px dashed #B0BEC5;
    padding: 5px;

  }

  .scrollColor2 {
    background-color: #FAFAFA;
    border: 2px dashed #B0BEC5;
    padding: 5px;
  }

  .scrollColor3 {
    background-color: #FAFAFA;
    border: 2px dashed #B0BEC5;
    padding: 5px;
  }

  .scrollColor4 {
    background-color: #FAFAFA;
    border: 2px dashed #B0BEC5;
    padding: 5px;
  }

  img {
    margin: 0px;
    text-align: center;
  }

  ion-card{
    max-width: 150px !important;
    max-height: 210px !important;
    display: inline-block;

  }


  .itemFix {
    max-width: 1280px !important;
    display: inline-block;
  }

  div {
    display: inline-block;
  }


}
