page-card {

  img {
    margin: 0px;
    text-align: center;
  }

  ion-card{
    max-width: 150px !important;
    max-height: 200px !important;
    display: inline-block;
  }

  div {
    display: inline-block;
  }


}
