<!--
  Generated template for the Note page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>note</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngFor="let item of items | async">
    <ion-card *ngIf="item.girl == true">
      <ion-card-header >
        <img src="{{item.pictureURL}}">
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col width-80>
            <h2>{{ item.name }}</h2>
            <p>Girl</p>
          </ion-col>

          <ion-col width-20 align="right">
            <ion-icon name="star" isActive="true" color="yellow"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
